---
BasedOnStyle: LLVM
Language: C
ColumnLimit: 80
IndentWidth: 2
UseTab: Never
PointerAlignment: Right
BreakBeforeBraces: Linux
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignArrayOfStructures: Left
AlignTrailingComments: Always
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
