---
BasedOnStyle: LLVM
Language: C

ColumnLimit: 80

IndentWidth: 4
UseTab: Never

AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Empty
IndentPPDirectives: AfterHash
PointerAlignment: Left

AlignAfterOpenBracket: true
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
BreakAfterOpenBracketIf: true
BreakBeforeCloseBracketIf: true
